.calculator {
    border: 15px solid rgb(95, 92, 92);
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-80%, -20%);
    width: 400px;
    overflow: auto;
  }
  
  .calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none solid;
    background-color: #312a2a;
    color: rgb(255, 251, 251);
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }
  
  button {
    height: 100px;
    background-color: rgb(8, 150, 231);
    border-radius: 6px;
    border: 4px solid #080808;
    background-color: #9494a1;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to bottom,transparent,transparent 70%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 3px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 2px rgba(116, 106, 106, 0.5);
  }
  
  button:hover {
    background-color: #1f7965;
  }
  
  .operator {
    color: #ee0a0a;
  }
  
  .all-clear {
    background-color: #f7060e;
    border-color: #e70c0c;
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #e60909;
    color: rgb(10, 10, 10);
    height: 100%;
    grid-area: 1  / 4 / 7 / 6;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    padding: 5px;
  }

  .zeRo {
    background-color: #9494a1;
    border-color: #000000;
    color: rgb(236, 9, 9);
  }

  .decimal {
    border-color: #000000;

  }
  
  .delete{
    border-color: #ee0a0a;
  }